@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Baby+Gemoy:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #D3D3D3;
}

*{
    text-decoration: none;
}

/* Navigation Bar Styles */
.nav-bar{
    background-color: #D3D3D3; /* sets the nav background */
    font-family: 'Montserrat', Arial, sans-serif;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.li,a{
    color:black
}

/*Header Section Styles*/
.header{
    background-color: #D3D3D3;
}
.hero-image{
    display: block;
    max-width: 100%;
    height: auto;
}
.header h1 {
    text-align: center;
    align-items: center;
    font-size: 65px;
    font-weight: 700;
    color: red ;
    font-family: 'Baby Gemoy', 'Montserrat', Arial, sans-serif;
}

.header p {
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: black;
    font-family: 'Baby Gemoy', Arial, sans-serif;
}

.cta-button {
    display: block;
    margin: 20px auto;
    height: 40px;
    font-size: 14px;
    width: 120px;
    color: red;
    font-family: 'Baby Gemoy', Arial, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    border: red solid 6px;
    margin-top: 40px;
}

/*Menu Section Styles*/
.menu{
    background-color: #D3D3D3;
}

.menu,.h1{
    text-align: center;
    margin-top: 55px;
    font-size: 35px;
    font-family: 'Baby Gemoy', Arial, sans-serif;
    color: red;
}

.price,.img{
    margin: 0 auto;
}

.price,.li{
    list-style: none;
    font-size: large;
    color: red;
    font-family: 'Baby Gemoy', Arial, sans-serif;
}

/*Contact and Location Styles*/
.contact-location{
    display: flex;
    justify-content: center;
    gap: 240px;
}
.contact-location,.h2{
    font-size: 40px;
    color: red;
    font-family: 'Baby Gemoy', Arial, sans-serif;
}

.contact-location,.p{
    font-size: 25px;
    color: black;
    font-family: 'Baby Gemoy', Arial, sans-serif;
}
